.btn {
    border-radius: 9999px;
    margin-bottom: 16px;
    margin-top: 16px;
    width: 154px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    text-align: center;
    background: rgba(29, 155, 240);
    cursor: pointer;
    padding: 6px 0 8px 0;
}

.btn:hover {
    background: rgba(26, 140, 216);
}
