.wrapper {
    padding: 4px;
}

.btn {
    display: inline-block;
    border-radius: 9999px;
    cursor: pointer;
    padding: 12px 24px;
    font-size: large;
    font-weight: bold;
}

.btn:hover {
    background: rgba(15, 20, 25, 0.1);
}
