
.white {
    background-color: #fff;
    padding: 1rem;
    border-radius: 8px;
}

.comment {
    border-bottom: 1px solid #e2e2e2;
}

.addComment {
    background-color: #fff;
    margin-top: 8px;
    padding: 8px;
    border-radius: 8px;
}

.list {
    border-radius: 8px;
    background-color: #fff;
}

.pointer {
    cursor: pointer;
}
