.wrapper {
    width: 400px;
    height: 400px;
    margin: 0 auto;
    border-radius: 8px;
    background-color: #fff;
}

.icon {
    font-size: 2rem;
}

.upload {
    width: 128px;
    height: 128px;
    padding: 2rem;
    color: #999;
}

.upload:hover {
    border-color: #1890ff;
}

.uploadWrapper {
    margin-left: 8px;
}

.input {
    width: 380px;
    margin: 0 8px 8px 8px;
}

.div {
    margin-top: 8px;
}

.tabs {
    text-align: center;
    background-color: #fff;
}
